<h1>Now Playing</h1>
<div class="row">
    {{#each movies}}
        <div class="card">
            <div class="col-md-3 card-body">
                <h2 class="card-title">{{this.title}}</h2>
                <a href="/movies/{{this.id}}"><img alt="{{this.title}}" src="https://image.tmdb.org/t/p/w154{{this.poster_path}}"></a>
            </div>
        </div>
    {{/each}}
</div>